@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

.outer {
  margin: 0 auto;
  max-width: 600px;
  padding: 80px 20px;   
}

#input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background-color: #eee;
  border: none;
  padding: 10px 16px 11px 16px;
  border-radius: 100px;
  box-shadow: none;
  outline: none;
  margin: 0;
  box-sizing: border-box; 
}

.display {
  width: 100%;
  overflow: hidden;
}