service cloud.firestore {
  match /databases/{database}/documents {
    match /{users=**} {
      allow read, create;
      allow update: if request.resource.data.url == resource.data.url &&
        request.resource.data.error == resource.data.error;
    }
    match /{stats=**} {
      allow write: if false;
    }
  }
}
